body {
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div {
  width: 1000px;
  height: 600px;
  margin: auto;
  position: relative;
}

canvas {
  width: 1000px;
  height: 600px;
  background-image: url("../img/bg.png");
  background-size: cover;
}

#playBtn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 20px;
  background-color: black;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
